.fc-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.fc-modal-show {
  visibility: visible;
}

.fc-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
	background: rgba(40,43,49,.8);
	transition: 0.25s ease;
  visibility: hidden;
}

.fc-modal-overlay-fade-in {
  opacity: 1;
  visibility: visible;
}

.fc-modal-content {
  position: absolute;
  top: 10%;
  background-color: white;
  width: 50%;
  padding: 1rem;
}

.fc-modal-body {
  padding: 1rem 0;
}

.fc-modal-title {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.fc-modal-title-close-btn {
  border: 0;
  background-color: transparent;
}

.fc-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.fc-modal-footer > * {
  margin-right: 1rem;
}

.fc-modal-footer > *:last-child {
  margin-right: 0;
}