:root {
  --primary-color: #2e8b57;

  --body-bg-color: rgb(255, 255, 255);

  --button-default-bg-color: blue;

  --button-primary-bg-color: var(--primary-color);
  --button-primary-bg-color-hover: #226840;
  --button-primary-color: #dfffed;

  --button-secondary-bg-color: rgb(239, 239, 239);
  --button-secondary-bg-color-hover: rgb(209, 208, 208);
  --button-secondary-color: #000000;

  --button-tertiary-bg-color: white;
  --button-tertiary-color: #000;

  --button-none-bg-color: var(--body-bg-color);
  --button-none-color: #000;

  --top-menu-bg-color: var(--primary-color);
  --top-menu-item-bg-hover-color: #226840;
  --top-menu-color: #dfffed;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-bg-color);
}

button:not(:disabled) {
  cursor: pointer;
}

/* designs */
.fc-table {
  border-collapse: collapse;
  width: 100%;
}

.fc-table thead td {
  font-weight: 700;
}

.fc-table tbody tr:nth-child(even){
  background-color: #f2f2f2;
}

.fc-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* utils */
.fu-bold {
  font-weight: 400;
}

.fu-text-lg {
  font-size: 1.25rem;
}

.fu-text-xl {
  font-size: 1.5rem;
}

.fu-flex {
  display: flex;
}

.fu-hidden {
  display: none;
}

.fu-pb {
  padding-bottom: 1rem;
}

.fu-pt {
  padding-top: 1rem;
}