:root {
  --button-default-bg-color: blue;

  --button-primary-bg-color: #2e8b57;
  --button-primary-bg-color-hover: #226840;
  --button-primary-color: #dfffed;

  --button-secondary-bg-color: rgb(239, 239, 239);
  --button-secondary-bg-color-hover: rgb(209, 208, 208);
  --button-secondary-color: #000000;

  --button-tertiary-bg-color: white;
  --button-tertiary-color: #000;

  --button-none-bg-color: white;
  --button-none-color: #000;


  --top-menu-bg-color: #2e8b57;
  --top-menu-item-bg-hover-color: #226840;
  --top-menu-color: #dfffed;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:not(:disabled) {
  cursor: pointer;
}

/* utils */
.fu-bold {
  font-weight: 400;
}

.fu-text-lg {
  font-size: 1.25rem;
}

.fu-text-xl {
  font-size: 1.5rem;
}

.fu-flex {
  display: flex;
}

.fu-hidden {
  display: none;
}

.fu-pb {
  padding-bottom: 1rem;
}

.fu-pt {
  padding-top: 1rem;
}